# The Python Libraries needed to run this project

# CSC110 Modules
hypothesis
pytest
python-ta

# Visualization
streamlit
pydeck
plotly
Pillow

# Data Processing
pandas
numpy

# Machine Learning
tensorflow
scikit-learn

# Data retrieval
requests